.chat-date {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.chat-date span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(66, 66, 66, 0.2);
  border-radius: 20px;
  width: 200px;
  height: 35px;
  color: white;
  opacity: 0.7;
  font-size: 14px;
  word-spacing: 5px;
}

.chat-chattings {
  display: flex;
  margin: 20px 0;
}

.chat-chattings__column img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin-right: 10px;
}

.chat-chattings__column {
  display: flex;
  flex-direction: column;
}

.chat-chattings__column-name {
  margin-bottom: 10px;
}

.chat-chattings__column-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: white;
  border-radius: 18px;
  border-top-left-radius: 0;
  font-size: 18px;
  font-weight: 600;
}

.chat-chattings__column-time {
  display: flex;
  align-items: flex-end;
  margin-left: 8px;
  font-size: 13px;
  opacity: 0.6;
}

/* Reply */

.chat-chattings-reply {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
  width: 100%;
  margin: 20px 0;
}

.chat-chattings__column-reply {
  display: flex;
  flex-direction: row-reverse;
}

.chat-chattings__column-content-reply {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: #fee500;
  border-radius: 15px;
  border-top-right-radius: 0;
  font-size: 18px;
  font-weight: 600;
}

.chat-chattings__column-time-reply {
  display: flex;
  align-items: flex-end;
  margin-right: 8px;
  font-size: 13px;
  opacity: 0.6;
}

/* Input */

.chat__form {
  position: absolute;
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  height: 55px;
  display: flex;
}

.chat__form-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.fa-plus-square {
  font-size: 30px;
  margin: 0 20px;
  opacity: 0.3;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
}

.chat__form__input-box {
  width: 100%;
  display: flex;
  position: relative;
}
.chat__form__input-box input {
  width: 95%;
  height: 40px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.chat__form__input-box i:nth-child(3) {
  position: absolute;
  font-size: 30px;
  top: 6px;
  right: 75px;
  opacity: 0.3;
  cursor: pointer;
}

.chat__form__input-box i:last-child {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 30px;
  width: 38px;
  height: 38px;
  top: 3px;
  right: 24px;
  background-color: #fee500;
}

.chat__form__input-btn {
  display: flex;
  position: absolute;
  border: none;
  cursor: pointer;
  right: 55px;
  top: 3px;
  padding: 12px;
  background-color: #fee500;
  border-radius: 15px;
  visibility: hidden;
  font-weight: 600;
  opacity: 0;
}

.chat__form:focus-within .chat__form__input-btn {
  visibility: visible;
  transform: translateX(-15px);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.chat__form__input-btn:hover {
  background-color: cornflowerblue;
  color: white;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

/* Transition */

.chat__form__input {
  transition: all 1s linear;
}

.chat__form:focus-within input {
  transform: translateX(-60px);
  width: 99vw;
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.chat__form:focus-within i,
.chat__form:focus-within a {
  animation: disappear 0.3s forwards;
}

.chat__form:focus-within .chat__form__input::placeholder {
  text-align: center;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.delete-btn {
  visibility: hidden;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  opacity: 0;
  transition: all 1s linear;
  height: 20px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-right: 20px;
  background-color: #fee500;
}

.chat-chattings-reply:hover .delete-btn {
  visibility: visible;
  opacity: 1;
  transition: linear 0.5s;
}

.delete-btn:hover {
  background-color: red;
  color: white;
}

@keyframes slide-message {
  from {
    transform: translateX(-70px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.chat-chattings {
  animation: slide-message 0.7s ease-in-out;
}

@keyframes slide-message-r {
  from {
    transform: translateX(70px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.chat-chattings-reply {
  animation: slide-message-r 0.7s ease-in-out;
}
