.firends-user-profile__p-chats-span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid tomato;
  color: tomato;
  border-radius: 50%;
  font-size: 13px;
  font-weight: 600;
  width: 14px;
  height: 14px;
  right: -23px;
  bottom: 16px;
}

.firends-user-profile-more {
  display: flex;
  align-items: center;
}

.more-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.more-icons__column {
  width: 25%;
  display: flex;
  margin-top: 45px;
  padding-bottom: 25px;
}
.more-icons__column a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-icons__column a i {
  font-size: 30px;
  margin-bottom: 15px;
  position: relative;
}
.more-icons__column span {
  font-size: 14px;
}

.suggestions {
  padding: 30px 0;
  border-top: 1px solid var(--l-gray);
  font-weight: 600;
}

.more-kakao-apps {
  display: flex;
  flex-direction: row;
}
.more-kakao-apps img {
  width: 55px;
  height: 55px;
  border-radius: 10px;
  margin: 0 30px;
}

.more-kakao-apps__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-kakao-apps__column span {
  color: var(--d-gray);
  margin-top: 10px;
}
