.upper-num {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 15px;
  color: white;
  background-color: tomato;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  top: -7px;
  right: -12px;
}

.upper-dot {
  position: absolute;
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  right: -5px;
  top: -1px;
}
